/* <style>
.FloatNavLink {
    background-color: white;
    color: white;
    padding: 10px;
} 
</style> */

/* this above is the possible css for class element h1 = floatselect */


/* possible css for aside element is 

aside { 
    display: block;
}

*/



